<!DOCTYPE html>
<html>
<head>
	<title>View Point</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="gallary.css">
</head>
<body>
 	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
	  	<a class="navbar-brand" href="#">IM A GE</a>
	 		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	 			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
	  		</button>

	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="navbar-nav mr-auto">
			    <li class="nav-item active">
			      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="#">Link</a>
			    </li>
			    <li class="nav-item dropdown">
			      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
		        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				        <a class="dropdown-item" href="#">WildLife</a>
				        <a class="dropdown-item" href="#">Cities</a>
	          			<!-- <div class="dropdown-divider"></div> -->
	          			<a class="dropdown-item" href="#">Peoples</a>
	        		</div>
	      		</li> 
	      		<li class="nav-item">
	        		<a class="nav-link" href="#" tabindex="-1" aria-disabled="true">NotWorking</a>
	      		</li>
    		</ul>
    	<form class="form-inline my-2 my-lg-0">
      		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
     	 	<button class="btn btn-outline-dark my-2 my-sm-0" type="submit" style="background-color: #008CBA; color: white" >Search</button>
    	</form>
  		</div>
	</nav>
	<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="navbar-header">
			<a href="#" class="navbar-brand">IMAGE</a>
		</div>
		<div class="collapse navbaar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#" class="nav-item nav-link">My Photos</a></li>
				<li><a href="#" class="nav-item nav-link">Tour</a></li>
				<li><a href="#" class="nav-item nav-link">BLOG</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="https://www.instragam.com"><img src="insta.png"></a></li>
				<li><a href="https://www.linkedin.com"><img src="in.png"></a></li>
			</ul>	
		</div>
		
	</nav> -->
		
	<p class="container"><a href="#" id="heading" style="color: white">Images</a></p>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6"><a href="https://images.wallpaperscraft.com/image/moon_clouds_sky_black-and-white_6442_1280x720.jpg"><img src="https://images.wallpaperscraft.com/image/moon_clouds_sky_black-and-white_6442_1280x720.jpg"></a> </div>

				<div class="col-lg-4 col-md-4 col-sm-6"><a href="https://images.wallpaperscraft.com/image/street_city_evening_black_white_lights_buildings_hdr_25485_1280x720.jpg"><img src="https://images.wallpaperscraft.com/image/street_city_evening_black_white_lights_buildings_hdr_25485_1280x720.jpg"></a></div>

				<div class="col-lg-4 col-md-4 col-sm-6"><a href="https://cdn.allwallpaper.in/wallpapers/1280x720/8618/black-and-white-nature-trees-1280x720-wallpaper.jpg"><img src="https://cdn.allwallpaper.in/wallpapers/1280x720/8618/black-and-white-nature-trees-1280x720-wallpaper.jpg"></a></div>

				<div class="col-lg-4 col-md-4 col-sm-6"><a href="http://www.sompaisoscatalans.cat/simage/179/1793280/1280x720-black-wallpaper.jpg"><img src="http://www.sompaisoscatalans.cat/simage/179/1793280/1280x720-black-wallpaper.jpg"></a></div>

				<div class="col-lg-4 col-md-4 col-sm-6"><a href="http://wallpaperhd.online/upload/images/1526267676478/black-rose-gold-ring-black-rose-green-sun-black-rose-gif-water-droplet-black-roses-1280x720.jpg"><img src="http://wallpaperhd.online/upload/images/1526267676478/black-rose-gold-ring-black-rose-green-sun-black-rose-gif-water-droplet-black-roses-1280x720.jpg"></a></div>

				<div class="col-lg-4 col-md-4 col-sm-6"><a href="https://images.wallpaperscraft.com/image/black_ball_band_white_68396_1600x900.jpg"><img src="https://images.wallpaperscraft.com/image/black_ball_band_white_68396_1600x900.jpg"></a></div>
			</div>
		</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>